<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.Mapper.CategoryMapper">
    <select id="findCategorysById" resultType="category">
        select * from tb_category as c,tb_category_brand as cb
        where cb.brand_id=#{bid} and cb.category_id=c.id

    </select>


</mapper>